In [1]:
a = 1340

In [2]:
130000 * 1.23 * 10 / 100

15990.0

In [3]:
p = 130000
r = 1.23
t = 10
si = p * r * t / 100
print(si)

15990.0

In [1]:
a = 3902
b = 3290.123
c = "this is sparta"
d = True
e = None

In [3]:
fruits = ["apple", "banana", "cherry"] # list
coords = (23.32, 32.00, 3.022) # tuple
person = {"name" : "John", "age" : 36} # dictionary
movies = {'avengers', 'ironman', 'hulk'} # set

In [4]:
'cherry' not in fruits

False

In [5]:
'avacado' not in fruits

True

In [6]:
'cherry' in fruits

True

In [7]:
'avacado' in fruits

False

input and output

In [8]:
name = input("enter your name")

In [12]:
pi = 22/7
r = float(input("Radius:"))
area = pi * r ** 2

In [13]:
print(area)

78.57142857142857

In [14]:
iq = int(input("what your iq(1-150)"))

In [15]:
print(iq)

100

In [16]:
print('area =' , area)

area = 78.57142857142857

In [19]:
print('apple' , 'banana' , 'cherry')
print('apple' , 'banana' , 'cherry' , sep=',')
print('apple' , 'banana' , 'cherry' , sep='\n')

apple banana cherry
apple,banana,cherry
apple
banana
cherry

In [24]:
print(f"for a radius of {r}, the area is {area}")

for a radius of 5.0, the area is 78.57142857142857

In [28]:
print(f'integer {a}')
print(f'float {area}')
print(f'string {c}')
print(f'boolean {d}')

integer 3902
float 78.57142857142857
string this is sparta
boolean True